@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import "tailwindcss";

:root {
  --font-pokedex: 'Press Start 2P', cursive;
}


@theme {
  --color-background: #171717;
  --color-foreground: #E42A3B;
  --color-screen: #668CFF;
  --color-accent: #fde68a;
  --color-metal: #DEDEDE;
}

body {
  font-family: var(--font-pokedex);
}
.attribute {
  font-weight: bolder;
  font-size: .85rem;
  color: var(--color-foreground);
}

.value {
  font-weight: bolder;
  font-size: .75rem;
  color: var(--color-accent);
}

.custom-border {
  border-radius: 6px;
  border: 1px solid color-mix(in oklab, var(--color-foreground) 80%, transparent);
}

.custom-border-bottom {
  border-bottom: 1px solid color-mix(in oklab, var(--color-foreground) 40%, transparent);
  padding-bottom: 8px;
}

.custom-border-top {
  border-top: 1px solid color-mix(in oklab, var(--color-foreground) 40%, transparent);
  padding-top: 8px;
}

.mini-container {
  width: 100%;
  font-size: 0.75rem;
  padding-bottom: 8px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}